@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', 'Open-sans';
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    padding: 1rem;
    z-index: 10;
    top: 50%;
    left: 50%;
    text-decoration: none;
    list-style: none;
}

h1:hover {
    transform: scale(1.1);
    transition: .4s ease-in-out;
}

a {
    text-decoration: none;
    list-style: none;
}


.BG {
    background: url("images/IMG_1386.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px, auto;
    grid-gap: 10px;
    grid-template-areas:
        "header1 logo logo about"
        "animation animation video video"
        "VR VR VR VR"
        "clients clients fun fun";
}

.logo {
    margin: auto;
    padding-top: 80px;
    width: 100px;
    height: 80px;
}

.logoGrid {
    grid-area: logo;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.animation {
    grid-area: animation;
    margin-top: 60px;
}

.video {
    grid-area: video;
    margin-top: 60px;
}

.VR {
    grid-area: VR;
}

.clients {
    grid-area: clients;
}

.fun {
    grid-area: fun;
}

.header1 {
    grid-area: header1;
    text-align: left;
    color: #000;
    font-family: 'Montserrat';
    padding: 1.5rem 0 0 2rem;
    font-size: 40px;
    text-decoration: none;
}

.about {
    grid-area: about;
    text-align: right;
    color: #000;
    font-family: 'Montserrat';
    padding: 1.5rem 2rem 0 0;
    font-size: 40px;
    text-decoration: none;
}

.header1:hover,
.about:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .2s ease;
}

/* SUB PAGES */

main {
    max-width: 1100px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#header {
    padding: 0;
    text-align: center;
    color: #000;
    font-family: 'Montserrat';
    font-size: 30px;
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    text-align: center;
    color: #000;
    z-index: 1;
    font-family: 'Montserrat';
    margin-top: 3rem;
    margin-bottom: 6rem;
    margin-left: 70px;
    margin-right: 70px;
}

img {
    display: block;
    width: 100%;
    min-height: 100%;
}

.textWithBlurredBg {
    width: 100%;
    height: 100%;
    position: relative;
}

.textWithBlurredBg :not(img) {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    position: absolute;
    top: 15%;
    z-index: 1;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: .1s;
}

.textWithBlurredBg:hover :not(img) {
    opacity: 1;
}

.textWithBlurredBg:hover img {
    filter: blur(1px) brightness(50%);
    transition: .3s;
}

.textWithBlurredBg h3 {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 600;
    font-size: 70px;
}

.navbar {
    overflow: hidden;
    height: 78px;
    border-radius: 10px;
}

.navbar a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
    display: none;
}

.navbar a:hover {
    color: #000;
    transform: scale(1.1);
    transition: .4s ease;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 40px 10px 10px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat';
    color: #000;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    transform: scale(1.1);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 16px;
}

.TopMenuText {
    margin-top: 5rem;
}

.shadow {
    box-shadow: 0 2px 15px -2px #888;
}

.img2 {
    display: none;
}

.VR_text1 {
    display: none;
}

.images {
    margin-left: 70px;
    margin-right: 70px;
}

.hide {
    display: none;
}

/* CV page */

    {
    width: 40%;
    margin: auto;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px, auto;
        grid-gap: 10px;
        grid-template-areas:
            "logo"
            "animation"
            "video"
            "VR"
            "clients"
            "fun";
    }

    .header1 {
        display: none;
    }

    .about {
        display: none;
    }

    .hide {
        display: block;
        z-index: 10;
    }

    .logo {
        padding-top: 0;
        padding-bottom: 20px;
        float: left;
    }

    .video {
        margin-top: 0;
    }

    .animation {
        margin-top: 15px;
    }

    .side-nav a {
        font-size: 60px;
    }

    .textWithBlurredBg :not(img) {
        top: 5%;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

    .VR_text {
        display: none;
    }

    .VR_text1 {
        display: block;
    }

    .images {
        margin-right: 0;
        margin-left: 0;
    }

    .caption {
        margin-left: 10px;
        margin-right: 10px;
    }

}
